[submodule "themes/landscape"]
	path = themes/landscape
	url = https://github.com/hexojs/hexo-theme-landscape.git
[submodule "themes/next"]
	path = themes/next
	url = https://github.com/iissnan/hexo-theme-next.git
[submodule ".deploy-git"]
	path = .deploy_git
	url = git@github.com:anticpp/anticpp.github.io.git
